/*  Poiret  */
@font-face {
  font-family: 'poiret';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/GoogleFonts/PoiretOne-Regular.ttf"); }
@font-face {
  font-family: 'Bogaloo';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/GoogleFonts/Boogaloo-Regular.ttf"); }
* {
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.skills {
  padding: 20px; }
  .skills--title {
    font-family: 'Poiret';
    font-size: 40px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .skills--list {
    list-style: none;
    margin: 0; }
  .skills--item {
    display: flex;
    align-items: center; }
    .skills--item:not(:last-child) {
      padding-bottom: 20px; }
  .skills--name {
    font-family: 'Bogaloo';
    text-align: right;
    margin-right: 20px;
    min-width: 5%;
    font-size: 20px; }
  .skills--progress {
    height: 35px;
    flex-grow: 1;
    background: #eee;
    border-radius: 50px;
    padding: 6px; }
  .skills--level {
    width: 25%;
    display: block;
    height: 100%;
    background-color: #2df;
    border-radius: 50px;
    padding-left: 10px;
    font-family: 'Bogaloo'; }

*, *:before, *:after {
  box-sizing: border-box; }

.section {
  padding: 20px;
  background: #ddd;
  transition: all .8s ease-in-out; }
  .section--home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1547&q=80");
    background-size: cover;
    background-attachment: fixed; }
  .section--about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative; }
  .section--skills {
    background-color: #ed4; }
  .section--title {
    font-family: 'Bogaloo';
    font-size: 50px;
    font-weight: bold; }

.box-center {
  display: flex;
  justify-content: center;
  align-items: center; }
  .box-center--image {
    margin: 0;
    max-width: 275px; }
    .box-center--image img {
      max-width: 100%;
      border-radius: 18%; }
  .box-center--content {
    padding: 1rem;
    max-width: 500px;
    font-family: 'Bogaloo'; }
    .box-center--content p {
      font-size: 1.5em; }
  .box-center--title {
    font-size: 2em;
    font-family: 'poiret'; }

@media (max-width: 575px) {
  .box-center {
    flex-direction: column; } }
.description {
  font-family: 'Questrial';
  color: #ddd;
  background-color: rgba(142, 142, 142, 0.9);
  padding: 1.5em;
  border-radius: 10px;
  margin: 0; }
  .description--title {
    font-size: 3rem;
    margin: inherit;
    color: #e2dfdc; }
  .description--subtitle {
    font-size: 1.5rem;
    color: #171717;
    margin: inherit; }

.main-links {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center; }

.resume {
  padding: .5rem;
  margin: 2px;
  border-radius: 50px;
  background: #8e8e8e;
  font-family: 'Questrial';
  color: #18181f;
  text-decoration: none;
  font-size: 1em;
  transition: all 0.3s ease; }
  .resume:hover {
    font-size: 1.2em; }

@media (max-width: 768px) {
  .description {
    padding: .8em; }
    .description--title {
      font-size: 2.5em; }
    .description--subtitle {
      font-size: 1.3em; } }
html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */
