.skills {
	padding: 20px;

	&--title {
		font-family: 'Poiret';
		font-size: 40px;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	&--list {
		list-style: none;
		// padding-left: 0;
		margin: 0;
	}
	&--item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			padding-bottom: 20px;
		}

	}
	&--name {
    font-family: 'Bogaloo';
    text-align: right;
    margin-right: 20px;
    min-width: 5%;
    font-size: 20px;
	}
	&--progress {
		height: 35px;
		flex-grow: 1;
		background: #eee;
		border-radius: 50px;
    padding: 6px;
	}
	&--level {
    width: 25%;
    display: block;
    height: 100%;
    background-color: #2df;
    border-radius:50px;
    padding-left: 10px;
    font-family: 'Bogaloo';
	}
}