@import "variables";
@import "fonts";
@import "global";


.section {
	padding: 10px;
	background: #ddd;

	&--home {
		min-height: 100vh;
		display: flex;
		justify-content: center;
	}
}


// box center da home
.box-center {
	display: flex;
	justify-content: center;
	align-items: center;
	&--image {
		margin: 0;
		max-width: 275px;
		img {
			max-width: 100%;
			border-radius: 18%;
		}
	}
	&--content {
		padding: 1rem;
		max-width: 500px;
		font-family: 'Bogaloo';
		p {
			font-size: 1.5em;
		}
	}
	&--title {
		font-size: 2em;
		font-family: 'poiret';
	}
}
@media (max-width: 575px) {
	.box-center {
		flex-direction: column;
	}	
}



