@import "variables";
@import "fonts";
@import "global";
@import "skills";
*, *:before, *:after {
	box-sizing: border-box;
}
.section {
	padding: 20px;
	background: #ddd;
	transition: all .8s ease-in-out;
	&--home {
	  position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100vh;
	  background-image: url("https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1547&q=80");
	  background-size: cover;
	  background-attachment: fixed;
	}
	&--about {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		position: relative;
		// background-image: url("../img/code-img.jpg");
	 //  background-position: center;
	 //  background-size: cover;
	 //  background-attachment: fixed;
	}
	&--skills {
		background-color: #ed4;
		
	}
	&--title {
		font-family: 'Bogaloo';
		font-size: 50px;
		font-weight: bold;
	}
}


// box center da home
.box-center {
	display: flex;
	justify-content: center;
	align-items: center;
	&--image {
		margin: 0;
		max-width: 275px;
		img {
			max-width: 100%;
			border-radius: 18%;
		}
	}
	&--content {
		padding: 1rem;
		max-width: 500px;
		font-family: 'Bogaloo';
		p {
			font-size: 1.5em;
		}
	}
	&--title {
		font-size: 2em;
		font-family: 'poiret';
	}
}
@media (max-width: 575px) {
	.box-center {
		flex-direction: column;
	}	
}

.description {
  font-family: 'Questrial';
  color: #ddd;
  background-color: rgba(142, 142, 142, 0.9);
  padding: 1.5em;
  border-radius: 10px;
  margin: 0;
  &--title {
    font-size: 3rem;
    margin: inherit;
    color: #e2dfdc;
  }
  &--subtitle {
    font-size: 1.5rem;
    color: #171717;
    margin: inherit;
  }
}
.main-links {
  position: absolute;
  bottom: 5%;
  width:100%;
  display: flex;
  justify-content: center;
}
.resume {
  padding: .5rem;
  margin: 2px;
  border-radius: 50px;
  background: rgb(142, 142, 142);
  font-family: 'Questrial';
  color: #18181f;
  text-decoration: none;
  font-size: 1em;
  transition: all 0.3s ease;
  &:hover {
    //border-radius: 0;
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .description {
    padding: .8em;
    &--title {
      font-size: 2.5em;
    }
    &--subtitle {
      font-size: 1.3em;
    }
  }
}

html {
	scroll-behavior: smooth;
}