.projects {
	&--list {
		list-style: none;
		padding-left: 0;
		display: flex;
		justify-content: flex-start;
	}
	&--item {
		display: flex;
		justify-content: center;
	}
	&--box {
		border-radius: 4px;
		background-image: url(../samples/download.png);
    background-position: 50%;
    display: block;
    padding: 15px;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-size: 100%;
		&:hover {
			text-decoration: none;
			color:#000;
		}
	}
	&--content {
		position: relative;
		color: #fff;
		background: rgba(19, 18, 18, 0.65);
		padding:20px;
		border-radius: 10px;
		animation-duration: 800ms;
		
		&.hidden {
			visibility: hidden;
		}
		&.active {
			visibility: visible;
		}
	}
	&--title {
		// text-align: center;
	}
	&--link {
    text-align: right;
    border: 2px solid $dark-yellow;
    padding: 5px 8px;
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: $white;
    font-weight: bold;
    border-radius: 30px;
		&:hover {
			background: $dark-yellow;
			color: $black;
			text-decoration: none;
		}
	}
	&--more {
		.fa {
			font-size: 2rem;
			margin-right: 10px;
			color: $black;
	    padding: 3px;
	    border: 2px solid transparent;
	    // border-radius: 19px;
	    -webkit-transition: all .25s ease;
	       -moz-transition: all .25s ease;
	        -ms-transition: all .25s ease;
	         -o-transition: all .25s ease;
	            transition: all .25s ease;
			&:hover {
				text-decoration: none;
				border: 2px solid $black;
			}
		}
	}
}

@media (max-width: 767px) {
	.projects {
		&--box {
			background-size: cover;
		}
		&--content {
			
		}
	}
}