<header id="header" class="header">
	<nav class="nav-menu">
		<span class="nav-menu--title">logo</span>
		<div class="nav-menu--hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="nav-menu--list">
			<li class="nav-menu--item"><a href="#about">About</a></li>
			<li class="nav-menu--item"><a href="#skills">skills</a></li>
			<li class="nav-menu--item"><a href="#projects">Projects</a></li>
			<li class="nav-menu--item"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>