<header id="header" class="header">
	<nav class="nav-menu">
		<figure class="nav-menu--title"><img src="samples/logo.png" alt=""></figure>
		<div class="nav-menu--hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="nav-menu--list">
			<li class="nav-menu--item"><a href="#about">About</a></li>
			<li class="nav-menu--item"><a href="#skills">skills</a></li>
			<li class="nav-menu--item"><a href="#projects">Projects</a></li>
		</ul>
	</nav>
</header>