<section class="section section--home">
	<div class="description">
    <h1 class="description--title">Lucas Flaquer</h1>
    <h2 class="description--subtitle">Web Developer in training</h2>
  </div>
  <div class="main-links">
  	<a class="resume" href="https://1drv.ms/b/s!Ak0aEKAR3qFjyTrmo-vlwpCLBxRA?e=g2hZbL" target="_blank">
  		Download my Resume <i class="fa fa-arrow-circle-down"></i></a>
	    <a href="#about" class="resume" >
	      about me
	      <span class="fa fa-angle-down"></span>
	    </a>
	  </div>
</section>