<section id="about" class="section section--about">
	    <div class="box-center">
	      <figure class="box-center--image">
	        <img src="samples/lucas.jpg" alt="minha foto">
	      </figure>
	      <div class="box-center--content">
	        <h2 class="box-center--title">Lucas Flaquer</h2>
	        <p>
	          Olá! Sou um jovem de 22 anos apaixonado por tecnologia atualmente estudo engenharia de computação na <a href="https://facens.br/" target="_blank">Facens</a> e trabalho como estagiário em Front-End na <a href="https://www.vm2.com.br/" target="_blank">Agência VM2</a>.
	        </p>
	        <p>
						Em meu tempo livre gosto muito de eler e participar de eventos das comunidades de desenvolvedores de Sorocaba como <a href="https://www.meetup.com/pt-BR/topics/css/br/sorocaba/" target="_blank">Sorocaba Css</a>, <a href="https://snug-lab.github.io/" target="_blank">Snug</a>, <a href="https://www.meetup.com/pt-BR/GURU-Sorocaba/" target="_blank">Guru</a>...
	        </p>
	        <p>
	        	Meu principal objetivo hoje é me tornar um grande desenvolvedor web/mobile
	        </p>
	      </div>
	    </div>
	</section>