<section id="about" class="section section--about">
	    <div class="box-center">
	      <figure class="box-center--image">
	        <img src="samples/lucas.jpg" alt="minha foto">
	      </figure>
	      <div class="box-center--content">
	        <h2 class="box-center--title">Lucas Flaquer</h2>
	        <p>
	          Sou um jovem de 22 anos apaixonado por tecnologia que busca estar atento às novidades do mundo tecnológico tanto para o entretenimento quanto para o estudo. Sou fissurado também por números, disciplinas que envolvem cálculos e lógica me fascinam(calculo I II ..., logica de programação e por ai vai...).
	        </p>
	        <p>
	          Gosto muito de conhecer novas culturas, maneiras de pensar e é claro pessoas. Meu maior sonho é viajar para fora do país e para isto busco ficar em dia com meu Inglês e atento às oportunidades na minha faculdade
	        </p>
	      </div>
	    </div>
	</section>