<section class="section contact" id="contact">
	<div class="container">
		<h2 class="section--title">Contato</h2>
		<div class="row">
			<div class="col-12 col-md-4">
				<h3 class="contact--title">Email e Telefone:</h3>
				<ul class="contact--list">
					<li class="contact--item"><span class="fa fa-envelope"></span> lucas.flaquer@gmail.com</li>
					<li class="contact--item"><span class="fa fa-envelope"></span> lucas.flaquer@fatec.sp.gov.br</li>
					<li class="contact--item"><span class="fa fa-envelope"></span> 180952@facens.br</li>
					<li class="contact--item"><span class="fa fa-whatsapp"></span> 15 98809 - 7161</li>
				</ul>
			</div>
			<div class="col-12 col-md-4">
				<h3 class="contact--title">Redes Sociais</h3>
				<ul class="contact--list">
					<li class="contact--item"><a href="#"><span class="fa fa-linkedin-square"></span> Linkedin</a></li>
					<li class="contact--item"><a href="#"><span class="fa fa-instagram"></span> instagram</a></li>
					<li class="contact--item"><a href="#"><span class="fa fa-github-square"></span> github</a></li>
					<li class="contact--item"><a href="#"><span class="fa fa-codepen"></span> codepen</a></li>
				</ul>
			</div>
		</div>
		<div class="contact--resume">
			<a class="resume" href="https://drive.google.com/file/d/1t-zf-hHAUnadpN-ceBfWHnKhuy55lrIp/view?usp=sharing" target="_blank">
  		Download my Resume <i class="fa fa-arrow-circle-down"></i></a>
		</div>
	</div>
</section>