<section class="section contact" id="contact">
	<h2 class="section--title">Contato</h2>
	<p>Entre em contato por:</p>
	<ul>
		<li class="contact--item">email</li>
		<li class="contact--item">email</li>
		<li class="contact--item">telefone</li>
	</ul>
	<p>Ou encontre-me nas redes sociais:</p>
	<ul>
		<li class="contact--item">Linkedin</li>
		<li class="contact--item">instagram</li>
		<li class="contact--item">github</li>
		<li class="contact--item">codepen</li>
	</ul>
</section>