<section id="projects" class="section container projects" id="projects">
	<h2 class="section--title">Projetos</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4 projects--item">
			<div class="projects--box projects--box__freshness">
				<div class="projects--content hidden animated">
					<h2 class="projects--title">Freshness</h2>
					<p class="projects--description">
						Projeto de um processo seletivo utilizado para estudar o design responsivo e o uso de carousel
					</p>
					<a class="projects--link" href="https://github.com/LucasFlaquer/freshness" target="_blank">Ver Projeto</a>
				</div> 
			</div>
		</div>
		
		<div class="col-12 col-md-6 col-lg-4 projects--item">
			<div class="projects--box projects--box__gulp">
				<div class="projects--content hidden animated">
					<h2 class="projects--title">Boot Gulp</h2>
					<p class="projects--description">Estrutura base para agilizar o processo de desenvolvimento front-end utilizando o otimizador de tarefas gulp</p>
					<a class="projects--link" href="https://github.com/LucasFlaquer/boot-gulp" target="_blank">Ver Projeto</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4 projects--item">
			<div class="projects--box projects--box__hidden-blade">
				<div class="projects--content hidden animated">
					<h2 class="projects--title">Hidden Blade</h2>
					<p class="projects--description">Projeto criado para o estudo de animações em css usando @Keyframes e a propriedade transition. Utilizado o codepen para a edição do código</p>
					<a class="projects--link" href="https://codepen.io/LucasFlaquer/pen/awKLLX" target="_blank">Ver Projeto</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4 projects--item">
			<div class="projects--box">
				<div class="projects--content hidden animated">
					<h2 class="projects--title">Merlin's Potions</h2>
					<p class="projects--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda saepe tempora illo amet tenetur eveniet dolores corporis, alias odio, sunt vitae voluptas officia quisquam iusto perspiciatis eos hic expedita dolor.</p>
					<a class="projects--link" href="#">Ver Projeto</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4 projects--item">
			<div class="projects--box">
				<div class="projects--content hidden animated">
					<h2 class="projects--title">Niver Invitation</h2>
					<p class="projects--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla cupiditate soluta omnis aperiam quae possimus, quisquam illum fuga, odit illo est, eligendi consequuntur! Quia, dicta perspiciatis iusto eligendi, inventore necessitatibus!</p>
					<a class="projects--link" href="#">Ver Projeto</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4 projects--item">
			<div class="projects--box">
				<div class="projects--content hidden animated">
					<h2 class="projects--title">Titulo</h2>
					<p class="projects--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde vitae laboriosam pariatur earum, iusto dignissimos consequuntur, obcaecati cupiditate, quam aspernatur sint magnam vero quae illum, dicta sequi expedita? Ipsum, totam?</p>
					<a class="projects--link" href="#">Ver Projeto</a>
				</div>
			</div>
		</div>
	</div>
</section>