<section class="section container">
	<h2 class="section--title">Habilidades</h2>
	<div class="skills">
		<h3 class="skills--title">Linguagens</h3>
		<ul class="skills--list" id="langs">
			<li class="skills--item test">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress html">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
		</ul>
		<h3 class="skills--title">Ferramentas</h3>
		<ul class="skills--list" id="tools">
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
		</ul>
		<h3 class="skills--title">Bibliotecas / Frameworks e demais ferramentas</h3>
		<ul class="skills--list" id="libs">
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
			<li class="skills--item">
				<span class="skills--progress">
					<span class="skills--name">test</span>
				</span>
			</li>
		</ul>
	</div>
</section>