<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
	<body>
		{{> organisms/org-header}}
		<main id="main">
			{{> molecules/mol-hero}}
			{{> molecules/mol-about}}
			{{> molecules/mol-skills}}
			{{> molecules/mol-projects}}
			{{> molecules/mol-contact}}
		</main>
		{{> organisms/org-footer}}
		{{> footer-scripts}}
	</body>
</html>